
# Ajoutez ici les dossiers/fichiers spécifiques que vous voulez ignorer
db.sqlite3
# === DJANGO ===
# === DOSSIERS SPÉCIFIQUES À VOTRE PROJET ===
.DS_Store
.env
env/
# === ENVIRONNEMENT VIRTUEL ===
.env.local
# === FICHIERS SENSIBLES ===
.idea/
# === IDE/EDITORS ===
*.log
logs/
# === LOGS ===
media/
*.pyc
__pycache__/
staticfiles/
*.swo
*.swp
# === SYSTÈME ===
Thumbs.db
.venv/
venv/
.vscode/
